.savedMovies{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.savedMovie {
    padding: 10px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.descriptionInfo{
    text-align: end;
}

